{% extends "base.html" %}

{% block title %}Facility Credit Application{% endblock %}

{% block style %}
    <style>
        .input-tooltip {
            padding-bottom: 3px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="container-xxl py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                <h1>Facility Credit Request</h1>
                <p>
                    Gain access to the <a href="https://path-cc.io/facility/">PATh Facility</a> by filling out the
                    request form below. On submission, we will assign you a ticket and follow up to get you started.
                </p>
                <h2>Request Form</h2>
                <form id="request-form" name="request-form" method="post" action="">

                    <div class="rounded border border-primary p-2">
                        <div class="">
                            <label for="full-name" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Required">
                                Full Name*
                            </label>
                            <input id="full-name" name="full-name" type="text" class="form-control" placeholder="First Last" required>
                        </div>
                        <div class="pt-3">
                            <label for="email" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Required">
                                Email*
                            </label>
                            <input id="email" name="email" type="email" class="form-control" placeholder="username@domain.ext" required>
                        </div>
                        <div class="pt-3">
                            <label for="institution" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Required">
                                Institution*
                            </label>
                            <textarea id="institution" name="institution" class="form-control" rows="1" required></textarea>
                        </div>
                        <div class="pt-3">
                            <label for="description" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Required">
                                Short description of the science or computing project*
                            </label>
                            <textarea id="description" name="description" class="form-control" rows="3" required></textarea>
                        </div>
                        <div class="pt-3">
                            <label for="nsf-fos" class="form-label" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="Required">
                                NSF Program*
                            </label>
                            <select id="nsf-fos" name="nsf-fos" class="form-control" required>
                                <option value="na" selected>Not Applicable</option>
                                <option value="cds-and-e">Computational and Data-Enabled Science and Engineering</option>
                                <option value="cssi">Cyberinfrastructure for Sustained Scientific Innovation</option>
                                <option value="bio-dbi">Innovation: Bioinformatics</option>
                                <option value="bios-ios">Neural Systems</option>
                                <option value="crcns">Collaborative Research in Computational Neuroscience</option>
                                <option value="aag">Astronomy and Astrophysics Research Grants</option>
                                <option value="ctmc">Chemical Theory, Models, and Computational Methods</option>
                                <option value="cmmt">Condensed Matter and Materials Theory</option>
                                <option value="a-m-o-physics">Atomic, Molecular and Optical Physics ‒ Theory</option>
                                <option value="nuclear-physics">Nuclear Physics ‒ Theory</option>
                                <option value="gi">Geoinformatics</option>
                                <option value="ph">Geophysics</option>
                                <option value="artic-research-opps">Arctic Research Opportunities</option>
                                <option value="anartic-research">Antarctic Research</option>
                            </select>
                        </div>
                        <div id="questions-for-the-nsf" class="pt-3" hidden>
                            <label for="nsf-award-number" class="form-label">
                                NSF Award Number*
                            </label>
                            <input id="nsf-award-number" name="nsf-award-number" class="form-control" required>
                        </div>
                    </div>

                    <h4 class="pt-3">Optional</h4>
                    <p>
                        If you are unsure of the below answers feel free to leave them blank, and we will provide
                        guidance during your consultation.
                    </p>
                    <div class="border p-2">
                        <div class="">
                            <label for="tasks-per-ensemble" class="form-label">
                                The expected number of self-contained tasks per ensemble
                                <img
                                    class="input-tooltip"
                                    src="/static/index/images/question-circle.svg"
                                    data-bs-toggle="tooltip"
                                    data-bs-html="true"
                                    title="
                                    <div class='text-start'>
                                        Ensemble: A group of tasks working toward a common goal<br><br>
                                        Task: Self-contained and packaged into one or many batch-jobs
                                    </div>
                                    "
                                />
                            </label>
                            <input id="tasks-per-ensemble" name="tasks-per-ensemble" class="form-control" type="number" min="1" step="1">
                        </div>
                        <div class="pt-3">
                            <label for="resource-requirements" class="form-label">
                                The resource requirements for each task type in the ensemble
                                <img
                                    class="input-tooltip"
                                    src="/static/index/images/question-circle.svg"
                                    data-bs-toggle="tooltip"
                                    data-bs-html="true"
                                    title="
                                    <div class='text-start'>
                                        Example:<br>
                                        Task: Image Processing<br>
                                        CPU Cores: 4<br>
                                        Memory: 512 MB<br>
                                        Wall-Time: 6 Hours<br>
                                        Scratch Space: 2 GB<br>
                                        GPUs: 1<br>
                                    </div>
                                    "
                                />
                            </label>
                            <textarea id="resource-requirements" name="resource-requirements" class="form-control" rows="4" ></textarea>
                        </div>
                        <div class="pt-3">
                            <label for="io-requirements" class="form-label">
                               The expected input and output data requirements for each task type
                            </label>
                            <textarea id="io-requirements" name="io-requirements" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="pt-3">
                            <label for="expected-ensembles" class="form-label">
                                The expected number of ensembles
                            </label>
                            <input id="expected-ensembles" name="expected-ensembles" class="form-control" type="number" min="1" step="1">
                        </div>
                        <div class="pt-3">
                            <label for="shared-input-files" class="form-label">
                                The expected number and size of shared input files within an ensemble
                                <img
                                    class="input-tooltip"
                                    src="/static/index/images/question-circle.svg"
                                    data-bs-toggle="tooltip"
                                    data-bs-html="true"
                                    title="Expected number of times each file is read per ensemble. Used for common data sets."
                                />
                            </label>
                            <textarea id="shared-input-files" name="shared-input-files" class="form-control" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="h-captcha mt-3" data-sitekey="deb6e053-975d-4c72-86be-6c91fdf4babf"></div>
                    <div id="form-error" class="alert alert-warning py-2 my-2" role="alert" hidden></div>
                    <button id="submit" type="submit" name="submit" class="form-control btn btn-primary mt-2 w-auto px-3">Submit</button>
                </form>
            </div>
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">

            </div>
        </div>
    </div>

    <div id="success-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">We look forward to meeting with you!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
                Please check your inbox at <b id="user-email"></b> for an email which you can use
                to follow up or adjust any provided information as needed.
            </p>
            <p>
                You can expect our Research Facilitation team to <b>respond in 1 business day!</b>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="failure-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger">Application Submission Failed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
                Your automatic application submission failed, please copy the below text and email it to
                us at <a href="mailto:support@path-cc.io">support@osg-htc.org</a> so that we can create a ticket manually.
            </p>
            <div class="rounded bg-light p-2">
                <pre id="form-information" class="text-black mb-0"></pre>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block postscript %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script>
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        let submitButton = document.getElementById("submit")
        let form = document.getElementById("request-form")

        let statusSelect = document.getElementById("nsf-fos")
        statusSelect.addEventListener("change", (e) => {
            if(e.target.value == "na"){
                document.getElementById("questions-for-the-nsf").hidden = true
            } else {
                document.getElementById("questions-for-the-nsf").hidden = false
            }
        })


        submitButton.addEventListener(
            "click",
            (e) => {
                let metadata = {
                    subject: "PATh User - Credit Request"
                }

                submitForm(e, form, "/api/v1/freshdesk/ticket", callback, metadata)
            }
        )

        let callback = (submissionSuccess, json) => {
            if(submissionSuccess){
                submissionSuccessCallback(json)
            } else {
                console.log(json)
                submissionFailureCallback()
            }
        }

        let submissionSuccessCallback = (json) => {
            const successModalNode = document.getElementById("success-modal")
            const successModal = new bootstrap.Modal(successModalNode)

            const userEmail = document.getElementById("user-email")
            userEmail.textContent = json?.email?.value

            successModal.show()
        }

        let submissionFailureCallback = () => {
            const failureModalNode = document.getElementById("failure-modal")
            const failureModal = new bootstrap.Modal(failureModalNode)

            const formInformationNode = document.getElementById("form-information")
            const formData = getFormData(form)
            const formInformation = Object.keys(formData)
                .filter(key => ['h-captcha-response', 'g-recaptcha-response'].indexOf(key) === -1)
                .reduce((currentValue, key) => {
                    currentValue.push(`${formData[key]['label']}\r\n${formData[key]['value']}\r\n`)
                    return currentValue
                }, [])
                .join('\r\n')
            formInformationNode.textContent = formInformation

            failureModal.show()
        }
    </script>
{% endblock %}