{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('website.static', filename='index.css') }}">
{% endblock %}

{% block body %}
    <div class="container-xxl py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-7 col-lg-8 col-md-10">
                <h1>PATh User Portal</h1>
                <p>
                    Welcome to the PATh Facility User Portal, a website designed to centralize
                    resources Path Facility Users might need.
                </p>
                <p>
                    The PATh Facility is a purpose-built, national-scale distributed High Throughput Computing (dHTC)
                    resource meant to deliver computational capacity to NSF researchers. Like other HTC resources, the PATh
                    facility specializes in running 'scaled out' computational workloads, running thousands of independent jobs
                    concurrently.
                </p>
                <div class="bg-light rounded p-3">
                    If you are interested in using PATh Facility resources application information can be found in the
                    <a class="text-primary" href="https://www.nsf.gov/pubs/2022/nsf22051/nsf22051.jsp">NSF Dear Colleague Letter (NSF 22-051)</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
