<!DOCTYPE html>
<html lang="en" class="h-100">

    {% include "layout/head.html" %}

    <body class="d-flex flex-column h-100">

        {% block header %}
            {% include "layout/header.html" %}
        {% endblock %}

        <main role="main" class="flex-shrink-0">
            {% block body %}{% endblock %}
        </main>

        {% block footer %}
            {% include "layout/footer.html" %}
        {% endblock %}

        {% block postscript %}{% endblock %}

    </body>
</html>
