<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
            integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    {% block head %}{% endblock %}
    {% block script %}{% endblock %}
    {% block style %}{% endblock %}
</head>

<body>
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        HT Phenotyping Registration
      </a>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('signup.signup_get') }}">Register a New Data Source</a></li>
            <li><a href="{{ url_for('code.code_get') }}">Approve a Token Request</a></li>
        </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block body %}{% endblock %}
</body>

</html>
