certifi
cffi
charset-normalizer
click
cryptography
Flask==2.2.2
Flask-Assets
idna
importlib-metadata
itsdangerous
Jinja2
libsass
MarkupSafe
pycparser
requests
six
typing_extensions
urllib3
webassets
Werkzeug
zipp