body {
    counter-reset: h2counter;
}

h1.counter {
    counter-reset: h2counter;
}

h2.counter {
    counter-reset: h3counter;
}

h2.counter:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
}

h3.counter:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

/* remove the extra space at the bottom of pre blocks inside card bodies */
div.card-body > pre {
    margin-top: 0;
    margin-bottom: 0;
}

button + code {
    margin-left: 2em;
}

h3:not(:nth-of-type(1)) {
    margin-top: 2em;
}
