{% extends "base.html" %}

{% block title %}HT Phenotyping - Register a Data Source{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Register a New Data Source</h1>

                <p>
                    To register a new data source with the HT Phenotyping service,
                    please fill out and submit the form below.
                    An administrator will be notified and they will contact you to
                    finalize your registration.
                </p>

                <hr>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{{ url_for('.signup_post') }}">
                    <div class="form-group">
                        <label for="contactInput">Name</label>
                        <input class="form-control" id="contactInput" name="contact" autocomplete="name" placeholder="Jane Doe" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Contact Email Address</label>
                        <input class="form-control" id="emailInput" name="email" placeholder="name@example.com" type="email" required>
                        <small class="form-text text-muted">
                            We will email you at this address to let you know we've processed your signup.
                            <br>
                            We will also add it to the HT Phenotyping mailing list.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="sourceInput">Preferred Data Source Name</label>
                        <input class="form-control" id="sourceInput" name="source" placeholder="University_PIName" type="text" required>
                        <small class="form-text text-muted">
                            The data source name should begin with
                            "University_PIName", like "Wisconsin_Spalding".
                            The source name must be composed of only
                            alphabetical characters (A-Z, a-z), digits (0-9), and underscores (_).
                            It may not begin with a digit.
                            You may not get exactly the name you request.
                        </small>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
