{% extends "base.html" %}

{% block title %}HT Phenotyping Signup Submitted{% endblock %}

{% block body %}
    <div class="container">
        <h1>HT Phenotyping Signup Submitted</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Your registration information has been submitted to the HT Phenotyping administrators.
                        Expect a contact within one business day to finalize the registration process
                        and to receive instructions on configuring a new host.
                    </p>
                    {% if info %}
                        {{ info }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
