{% extends "base.html" %}

{% block title %}HT Phenotyping - Sign Up{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1>Sign Up</h1>

                <p>
                    To <strong>sign yourself up</strong> with the HT Phenotyping service,
                    please fill out and submit the form below.
                    An administrator will be notified and they will contact you to
                    finalize your signup.
                </p>

                <hr>

                <form method="post" action="{{ url_for('.signup_post') }}">
                    <div class="form-group">
                        <label for="contactInput">Name</label>
                        <input class="form-control" id="contactInput" name="contact" autocomplete="name" placeholder="Jane Doe" type="text" required>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Contact Email Address</label>
                        <input class="form-control" id="emailInput" name="email" placeholder="name@example.com" type="email" required>
                        <small class="form-text text-muted">
                            <ul>
                                <li>
                                    We will email you at this address to let you know that we've processed your signup.
                                </li>
                                <li>
                                    We will add this email address to the HT Phenotyping mailing list.
                                </li>
                            </ul>
                        </small>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
