{% extends "base.html" %}

{% block title %}HT Phenotyping - Signup Failed{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ which|title }} Failed</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Something went wrong during the {{ which }} process.
                    </div>
                    {% if info %}
                        <p>
                            {{ info|safe }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
