{% extends "base.html" %}

{% block title %}HT Phenotyping - Signup Submitted{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ which|title }} Submitted</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Success!
                    </div>
                    <p>
                        Your {{ which }} information has been submitted to the
                        HT Phenotyping administrators.
                        You will receive an email at <code>{{ email }}</code>
                        once the administrators have approved your {{ which }}
                        (usually within one business day).
                    </p>
                    {% if info %}
                        <p>
                            {{ info|safe }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
