{% extends "base.html" %}

{% block title %}HT Phenotyping - Token Approval Succeeded{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Token Approval Succeeded</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success" role="alert">
                        Success!
                    </div>
                    <p>
                        Within a minute, you should see a message in your
                        terminal that looks like
                    </p>
                    <pre><code>Token request approved!
Registration of source {{ source }} with {{ collector }} is complete!</code></pre>
                    <p>
                        If you don't, your computer was not able to confirm
                        that token approval succeeded.
                        You may see an error message with more instructions
                        in that case.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
