{% extends "base.html" %}

{% block title %}HT Phenotyping - Account Information{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Account Information</h1>

                {% if signed_up %}
                    <p>
                        Your identity is <strong>{{ identity }}</strong>
                        <br>
                        Your contact email is <code>{{ contact }}</code>
                    </p>
                    {% if sources %}
                        <p>
                            Your registered data sources are
                        </p>
                        <ul>
                            {% for source in sources %}
                                <li>{{ source }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>
                            You have no registered sources.
                        </p>
                    {% endif %}
                {% else %}
                    <p>
                        You haven't <a href="{{ url_for("signup.signup_get") }}">signed up</a> yet,
                        or your signup is waiting for approval.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
