{% extends "base.html" %}

{% block title %}HT Phenotyping - Account Information{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Account Information</h1>

                {% if signed_up %}
                    <p>
                        Your identity is <strong>{{ user_info.get("name") }}</strong>
                        <br>
                        Your contact email is <code>{{ user_info.get("email") }}</code>
                    </p>
                    {% if sources %}
                        <p>
                            Your registered data sources are
                        </p>
                        <ul>
                            {% for source in sources %}
                                <li>{{ source }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>
                            You have no registered sources.
                        </p>
                    {% endif %}
                {% else %}
                    <p>
                        {% if user_info.get("name") %}
                            You successfully with the following identity:
                            <ul>
                                <li>Name: {{ user_info.get("name") }}</li>
                                {% if user_info.get("idp") %}
                                    <li>Institution: {{ user_info["idp"]}}</li>
                                {% endif %}
                                {% if user_info.get("email") %}
                                    <li>Institution email: {{ user_info["email"]}}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        However, you haven't
                        <a href="https://opensciencegrid.org/technology/policy/comanage-instructions-user/">registered with the OSG</a>
                        or your signup is waiting for approval.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
