.navbar {
    margin-bottom: 2em;
}

li.nav-item > a.btn {
    margin-left: 10px;
}

body {
    margin-bottom: 5em;
}

pre {
    background-color: #e5e5e5;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}
