main {
    margin-bottom: 3em;
}

.footer {
    background-color: #f5f5f5;
}

.navbar {
    margin-bottom: 2em;
}

li.nav-item > a.btn {
    margin-left: .5rem;
    display: inline-block;
}

/* When the navbar turns into a hamburger menu,
   we need to switch to vertical spacing instead of horizontal.
   I didn't find an easy trick to go back to the prior CSS (above) if the window
   is re-expanded with the menu open (it works fine if the menu is closed). */
button.navbar-toggler[aria-expanded=true] ~ #navbarSupportedContent > ul > li.nav-item > a.btn {
    margin-left: unset;
    margin-top: .5rem;
}


pre {
    background-color: #e5e5e5;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

img {
    max-width: 100%;
}
