{% extends "base.html" %}

{% block title %}HT Phenotyping - About{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About the HT Phenotyping Project</h1>

                <h2>The HT Phenotyping Transfer Service</h2>

                Data transfers from data sources to storage and processing
                servers are facilitated by
                <a href="https://research.cs.wisc.edu/htcondor/">HTCondor</a>.
            </div>
        </div>
    </div>
{% endblock %}
