{% extends "base.html" %}

{% block title %}OSG Token Registry - About{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('index.static', filename='about.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About the OSG Token Registry</h1>

                <p>
                   The OSG Token registry allows system administrators to
                   request and approve tokens to authorize pilots; this enables
                   tokens to be used to authenticate OSG containers as described
                   in the <a href="https://opensciencegrid.org/docs/resource-sharing/os-backfill-containers/">site backfill documentation</a>.
                </p>

            </div>
        </div>
    </div>
{% endblock %}
