{% extends "base.html" %}

{% block title %}Open Science Pool Token Service{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('index.static', filename='index.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron shadow">
                    <h1 class="display-r">Open Science Pool Token Service</h1>

                    <p class="lead">
                        The Open Science Pool token service provides system administrators
                        with the ability to request and receive tokens necessary to authenticate
                        Access Points and Execution Point containers with the Open Science Pool.
                    </p>

                    <p class="lead">
                      <a class="btn btn-primary" href="https://opensciencegrid.org/docs/submit/osg-flock/">Learn More About Access Points</a>
                      <a class="btn btn-primary" href="https://opensciencegrid.org/docs/resource-sharing/os-backfill-containers/">Learn More About Execution Point Containers</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-primary">
                    <h5 class="card-header text-center">Step 1: Sign Up</h5>
                    <div class="card-body flex-fill">
                        <p class="card-text">
                            To use this service, you must be registered as a site administrator with the OSG.
                            You will be asked to log in using your local university ID (through CILogon).
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://opensciencegrid.org/technology/policy/comanage-instructions-user/" class="btn btn-primary btn-lg">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-primary">
                    <h5 class="card-header text-center">Step 2: Register</h5>
                    <div class="card-body flex-fill flex-column">
                        <p class="card-text">
                            Once you have signed up, you must have a site registered
                            with the OSG topology to get a token.
                            This can be started even if your sign-up isn't complete.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://opensciencegrid.org/docs/common/registration/" class="btn btn-primary btn-lg">Register!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-primary">
                    <h5 class="card-header text-center">Step 3: Get Token</h5>
                    <div class="card-body flex-fill">
                        <p class="card-text">
                            Once your registration has been approved,
                            you can request and approve your own tokens.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for("connect.docker") }}" class="btn btn-primary btn-lg">Connect!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
