{% extends "base.html" %}

{% block title %}HT Phenotyping - Connect a New Data Source{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Connect a New Data Source</h1>

                {% include "no-sources-warning.html" %}

                <p>
                    Choose the option that most closely matches your situation.
                    If you believe that your situation does not fall into any
                    of these categories, please {{ "contact us" | contact_us }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-info">
                    <h5 class="card-header text-center">Ubuntu 18</h5>
                    <div class="card-body flex-fill">
                        <p class="card-text">
                            Your computer is running the
                            <a href="https://releases.ubuntu.com/18.04.4/">Ubuntu 18.04</a>
                            operating system and you have administrator privileges.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for("connect.ubuntu_18") }}" class="btn btn-info btn-lg">Connect on Ubuntu 18</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-info">
                    <h5 class="card-header text-center">macOS with Docker</h5>
                    <div class="card-body flex-fill">
                        <p class="card-text">
                            Your computer is running macOS
                            and Docker Desktop is installed.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for("connect.macos") }}" class="btn btn-info btn-lg">Connect on macOS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
