{% extends "base.html" %}

{% block title %}HT Phenotyping - Connect a New Data Source{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Connect a New Data Source</h1>

                {% if not install_commands %}
                    <div class="alert alert-danger" role="alert">
                        You don't have any registered data sources,
                        so you won't be able to install
                        the HT Phenotyping transfer service.
                    </div>
                {% endif %}

                <h2 class="counter">Preparation</h2>

                <p>
                    Before you proceed, please take note of the following items:
                </p>
                <ol>
                    <li>
                        Installation requires a Linux machine that you have
                        administrative privileges on,
                        is always powered on,
                        and has a reliable internet connection,
                        as described
                        <a href="{{ url_for("index.about") }}#transfer-service-requirements">here</a>.
                    </li>
                    <li>
                        Copying from and pasting to the Ubuntu Terminal uses different keyboard shortcuts than
                        on Windows and MacOS. We suggest using the mouse and right-clicking when copying from or
                        pasting to a Terminal window.
                    </li>
                </ol>

                <h2 class="counter">Installing the HT Phenotyping Transfer Service Client</h2>

                <p>
                    Data is transferred from your source by the
                    HT Phenotyping transfer service "client" software.
                    Follow the instructions below to install the
                    transfer service client.
                </p>

                <h3 class="counter">Open Terminal</h3>
                <p>
                    The first step is to open the <strong>Terminal</strong> application.
                    After logging in and while at the Ubuntu desktop, you can
                    open Terminal either by pressing a keyboard shortcut,
                    <kbd>Ctrl+Alt+T</kbd>,
                    or by clicking on the Ubuntu icon at
                    the top of the left-side menubar, searching for "Terminal",
                    and then clicking on Terminal, as shown below.
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="open-terminal.png") }}" alt="Opening Terminal in Ubuntu">
                </p>

                <h3 class="counter">Download and Run Installation Script</h3>
                <p>
                    The next step is to download and run the installation script.
                    Choose the data source you want to register from the options
                    below and run the corresponding command in Terminal:
                </p>
                {% if install_commands %}
                    <div class="accordion" id="installCommands">
                        {% for source, command in install_commands.items() %}
                            <div class="card">
                                <div class="card-header" id="heading_{{ loop.index }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                                            {{ source }}
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse_{{ loop.index }}" class="collapse {{ "show" if loop.index == 1 else "" }}" aria-labelledby="heading_{{ loop.index }}" data-parent="#installCommands">
                                    <div class="card-body">
                                        <pre><button type="button" class="btn btn-primary" id="copy_install_cmd_button_{{ loop.index }}">Copy</button><code id="copy_install_cmd_target_{{ loop.index }}">wget https://raw.githubusercontent.com/HTPhenotyping/execute_node_config/master/install_htcondor.sh && {{ command }}</code></pre>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        You don't have any registered data sources!
                    </div>
                {% endif %}
                <div class="alert alert-info" role="alert">
                    If you don't see a data source you expected to see,
                    it most likely means that you are not listed as an
                    owner of that data source. Make sure you have
                    <a href="{{ url_for("signup.register_get") }}">registered</a>
                    the data source. If you need to be listed as an owner
                    of a data source you did not originally register, please
                    {{ "contact us" | contact_us }}.
                </div>
                <p>
                    You will need to enter which local username should be used for running data transfer jobs. Most
                    often, this is the same user that is running the install script. If this is the case, you can
                    hit enter without entering anything to accept the default value, which is the current user.
                </p>
                <p>
                    After some output, you will be asked to enter a password, which is the current user's password.
                    The password will not be shown on screen as you type it. Entering the password enables the install
                    script to make root-level (i.e. administrator-level) changes to the system, such as installing
                    software and enabling HTCondor to run at boot. See the screenshot below for an example of output
                    from running the above command and being asked for a password.
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="wget-install.png") }}" alt="Downloading and running the install command">
                </p>

                <h3 class="counter">Approve Authorization Token</h3>
                <p>
                    Once the software installation is complete, your machine
                    will automatically request an "authorization token" from the
                    HT Phenotyping service. You must approve this request
                    for installation to proceed.
                </p>
                <p>
                    As shown below,
                    <kbd>Ctrl+click</kbd>
                    on the URL in the Terminal output and click on "Open Link",
                    or copy the URL to a browser window, or
                    <a href="{{ url_for("token.code_get") }}" target="_blank">enter the code manually here</a>.
                    You may be required to log in again.
                    Be sure to use the same account as when you first registered.
                    Click "Submit" and check the terminal for successful registration.
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="token-flow.png") }}" alt="Finishing registration">
                </p>
                <p>
                    If you see the final message from the screenshot above in your Terminal,
                    your data source has been successfully added to the HT Phenotyping data transfer service.
                    If you have any problems and need help troubleshooting,
                    please do not hesitate to email us.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
    <script>
        {% for _ in install_commands %}
            copy("#copy_install_cmd_target_{{ loop.index }}", "#copy_install_cmd_button_{{ loop.index }}");
        {% endfor %}
    </script>
{% endblock %}
