{% extends "base.html" %}

{% block title %}OS Registry - Get a New Token{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Get a New Open Science Pool Token</h1>

                {% include "no-sources-warning.html" %}

                <p>
                    Choose the option that most closely matches your situation.
                    If you believe that your situation does not fall into any
                    of these categories, please {{ "contact us" | contact_us }}.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-info">
                    <h5 class="card-header text-center">Docker</h5>
                    <div class="card-body flex-fill">
                        <p class="card-text">
                            You want to launch an Open Science Pool worker node inside
                            a Docker container on your computer.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for("connect.docker") }}" class="btn btn-info btn-lg">Token on Docker</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="card shadow hover-shadow-lg border-info">
                    <h5 class="card-header text-center">Kubernetes</h5>
                    <div class="card-body flex-fill">
                        <p class="card-text">
                            Your want to launch many Open Science Pool worker nodes
                            inside a Kubernetes cluster.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{{ url_for("connect.kubernetes") }}" class="btn btn-info btn-lg">Token on Kubernetes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
