{% extends "base.html" %}

{% block title %}Open Science Pool - Run a Docker Container{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Connect a New Docker Worker Node</h1>

                {% include "no-sources-warning.html" %}

                <h2 class="counter">Preparation</h2>

                <p>
                    Before you proceed, please take note of the following items:
                </p>
                <ol>
                    <li>
                        Installation requires a container runtime (such as Docker or podman) and the ability to launch containers.
                        Typically, this requires root (administrator) access on the host.
                    </li>
                    <li>
                        {% if not sources %}
                            You are not registered as the admin for any resource so token approval
                            will not work
                        {% else %}
                            You are listed as an administrator for the following resources:
                            <ul>
                                {% for source in sources %}
                                    <li>{{ source }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                </ol>

                <h2 class="counter">Request a new token</h2>

                <p>
                    The first step is to request a new authentication token
                    for your resource.
                    Choose the resource you want to register from the options
                    below and run the corresponding command in the terminal:
                </p>
                {% include "install-commands.html" %}
                <p>
                    See the screenshot below for an example of output
                    from running the above command:
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="docker-terminal.png") }}" alt="Invoking the token request command from the terminal">
                </p>

                <h3 class="counter">Approve Authorization Token</h3>
                <p>
                    Once the token request is made, the script will print out a URL where you
                    can approve the token request.  You can <kbd>Ctrl+click</kbd> on the URL in
                    the Terminal output (Ubuntu hosts), copy/paste the URL to a browser window,
                    or <a href="{{ url_for("token.code_get") }}" target="_blank">enter the code manually here</a>.
                    You may be required to log in again.
                    Click "Submit" and check the terminal for successful registration.  See the
                    screenshot for an example of approving the request:
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="web-request.png") }}" alt="Review request">
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="web-approved.png") }}" alt="Finishing registration">
                </p>
                <p>
                    Finally, you will get a message on the terminal that the token was approved:
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="terminal-approved.png") }}" alt="Approval message in terminal">
                </p>
                <p>The token is now available inside the "tokens" directory relative to where you invoked the "docker run" command.</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
    <script>
        {% for _ in install_commands %}
            copy("#copy_install_cmd_target_{{ loop.index }}", "#copy_install_cmd_button_{{ loop.index }}");
        {% endfor %}
    </script>
{% endblock %}
