{% extends "base.html" %}

{% block title %}HT Phenotyping - Connect a New Data Source{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Connect a New Data Source</h1>

                {% if not install_commands %}
                    <div class="alert alert-danger" role="alert">
                        You don't have any registered data sources,
                        so you won't be able to install
                        the HT Phenotyping Transfer Service.
                    </div>
                {% endif %}

                <h2 class="counter">Before you begin...</h2>

                <p>Before you proceed with the install, make sure to go through the following items:</p>
                <ol>
                    <li>Installation requires a Linux machine. The currently supported platform is Ubuntu 18 but
                        we can work with individual sites if another distribution version is needed.
                    </li>
                    <li>You will need "root" access on the host; installation requires new software and services
                        running on the machine.
                    </li>
                    <li>Ensure you have a reliable outgoing connection. We periodically sync daily; ensure the
                        machine is online overnight so the synchronization happens. <strong>Incoming connections
                            are not needed</strong>; most locations will not need to change firewall settings as long
                        as outgoing connections to University of Wisconsin are permitted.
                    </li>
                    <li>Make sure you know which directory (folder) your data is being stored in. You will need
                        the full path (e.g. "/home/your-username/images" or "/mnt/external/images") to your data
                        directory. If you don't know what the full path is, please let us know before installing.
                    </li>
                    <li>Copying from and pasting to the Ubuntu Terminal uses different keyboard shortcuts than
                        on Windows and MacOS. We suggest using the mouse and right-clicking when copying from or
                        pasting to a Terminal window.
                    </li>
                </ol>

                <h2 class="counter">Installing the HT Phenotyping Transfer Service</h2>

                <p>
                    Data transfers from data sources to data processing servers
                    are facilitated by HT Phenotyping Transfer Service "client"
                    software.
                    Follow the instructions below to install the
                    Transfer Service client.
                </p>

                <h3 class="counter">Open Terminal</h3>
                <p>
                    The first step is to open the <strong>Terminal</strong> application.
                    After logging in and while at the Ubuntu desktop, you can
                    open Terminal either by pressing a keyboard shortcut,
                    <kbd>Ctrl+Alt+T</kbd>,
                    or by clicking on the Ubuntu icon at
                    the top of the left-side menubar, searching for "Terminal",
                    and then clicking on Terminal, as shown below.

                    <img src="{{ url_for('connect.static', filename="open-terminal.png") }}" alt="Opening Terminal in Ubuntu" style="padding:20px">
                </p>

                <h3 class="counter">Download Installation Script</h3>
                <p>
                    The next step is to download the installation script.
                    Inside Terminal, run this command
                    (by copying/entering the text shown below into the window
                    and then pressing <kbd>Enter</kbd>):
                </p>

                <pre><button type="button" class="btn btn-primary" id="copy_wget_button">Copy</button><code id="copy_wget_target">wget https://raw.githubusercontent.com/HTPhenotyping/execute_node_config/master/install_htcondor.sh</code></pre>
                <p>
                    You should see some output like this in Terminal:
                </p>
                <p>
                    <img src="{{ url_for('connect.static', filename="wget-install.png") }}" alt="Downloading the install script" style="padding:20px">
                </p>

                <h3 class="counter">Run Installation Script</h3>
                <p>
                    The next step is to run run the installation script.
                    Choose the data source you want to register from the options
                    below and run the corresponding command in Terminal:
                </p>
                <div class="accordion" id="installCommands">
                    {% for source, command in install_commands.items() %}
                        <div class="card">
                            <div class="card-header" id="heading_{{ loop.index }}">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                                        {{ source }}
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_{{ loop.index }}" class="collapse {{ "show" if loop.index == 1 else "" }}" aria-labelledby="heading_{{ loop.index }}" data-parent="#installCommands">
                                <div class="card-body">
                                    <pre><button type="button" class="btn btn-primary" id="copy_install_cmd_button_{{ loop.index }}">Copy</button><code id="copy_install_cmd_target_{{ loop.index }}">{{ command }}</code></pre>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <p>
                    You will be asked to enter a password, which is the current user's password. The password
                    will not be shown on screen as you type it. Entering the password enables the install script
                    to make root-level (i.e. administrator-level) changes to the system, such as installing software
                    and enabling HTCondor to run at boot.
                </p>
                <p>
                    <img src="{{ url_for('connect.static', filename="type-install.png") }}" alt="Typing install command" style="padding:20px">
                </p>

                <h3 class="counter">Approve Authorization Token</h3>
                <p>
                    Once the software installation is complete, your machine
                    will automatically request an "authorization token" from the
                    HT Phenotyping service. You must approve this request
                    for installation to proceed.
                </p>
                <p>
                    As shown below,
                    <kbd>Ctrl+click</kbd> on the URL in the terminal output and click on "Open Link",
                    or copy the URL to a browser window, or
                    <a href="{{ url_for("token.code_get") }}" target="_blank">enter the code manually here</a>.
                    You may be required to log in again.
                    Be sure to use the same account as when you first registered.
                    Click "Submit" and check the terminal for successful registration.
                </p>
                <img src="{{ url_for('connect.static', filename="token-flow.png") }}" alt="Finishing registration" style="padding:20px">
                <p>
                    If you see the final message from the screenshot above in your Terminal,
                    your data source has been successfully added to the HT Phenotyping data transfer service.
                    If you have any problems and need help troubleshooting,
                    please do not hesitate to email us.
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block postscript %}
    <script>
        copy("#copy_wget_target", "#copy_wget_button");
        {% for _ in install_commands %}

            copy("#copy_install_cmd_target_{{ loop.index }}", "#copy_install_cmd_button_{{ loop.index }}");
        {% endfor %}
    </script>
{% endblock %}
