{% extends "base.html" %}

{% block title %}Open Science Pool - Run a Kubernetes Pod{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Connect a New Docker Worker Node</h1>

                {% include "no-sources-warning.html" %}

                <p>
                  Coming soon!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
