{% extends "base.html" %}

{% block title %}HT Phenotyping - Connect a New Data Source{% endblock %}

{% block head %}
    <link href="{{ url_for('connect.static', filename='connect.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Connect a New macOS Data Source</h1>

                {% include "no-sources-warning.html" %}

                <h2 class="counter">Preparation</h2>

                <p>
                    Before you proceed, please take note of the following items:
                </p>
                <ol>
                    <li>
                        The machine must have
                        <a href="https://docs.docker.com/docker-for-mac/install/">Docker Desktop installed</a>,
                        should be powered on overnight,
                        and should have a reliable internet connection,
                        as described in the
                        <a href="{{ url_for("index.about") }}#transfer-service-requirements">transfer service requirements</a>.
                    </li>
                </ol>

                <h2 class="counter">Installing the HT Phenotyping Transfer Service Client</h2>

                <p>
                    Data is transferred from your source by the
                    HT Phenotyping transfer service "client" software.
                    Follow the instructions below to install the
                    transfer service client.
                </p>

                <h3 class="counter">Open Terminal</h3>
                <p>
                    The first step is to open the <strong>Terminal</strong> application.
                    On macOS, Terminal can be found by going to the
                    Applications folder, and then the Utilities
                    folder, as seen in the screenshot below.
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="macos-open-terminal.png") }}" alt="Opening Terminal in macOS">
                </p>

                <h3 class="counter">Download and Run Installation Script</h3>
                <p>
                    The next step is to download and run the installation script.
                    Choose the data source you want to register from the options
                    below and run the corresponding command in Terminal:
                </p>
                {% include "install-commands.html" %}
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="macos-wget-install.png") }}" alt="Downloading and running the install command">
                </p>

                <h3 class="counter">Approve Authorization Token</h3>
                <p>
                    Once the software installation is complete, your machine
                    will automatically request an "authorization token" from the
                    HT Phenotyping service. You must approve this request
                    for installation to proceed.
                </p>
                <p>
                    As shown below,
                    <kbd>control+click</kbd>
                    on the URL in the Terminal output and click on "Open URL",
                    or copy the URL to a browser window, or
                    <a href="{{ url_for("token.code_get") }}" target="_blank">enter the code manually here</a>.
                    You may be required to log in again.
                    Be sure to use the same account as when you first registered.
                    Click "Submit" and check the terminal for successful registration.
                </p>
                <p class="text-center">
                    <img class="example" src="{{ url_for('connect.static', filename="macos-token-flow.png") }}" alt="Finishing registration">
                </p>
                <p>
                    If you see the final message from the screenshot above in your Terminal,
                    your data source has been successfully added to the HT Phenotyping data transfer service.
                    If you have any problems and need help troubleshooting,
                    please do not hesitate to email us.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block postscript %}
    <script>
        {% for _ in install_commands %}
            copy("#copy_install_cmd_target_{{ loop.index }}", "#copy_install_cmd_button_{{ loop.index }}");
        {% endfor %}
    </script>
{% endblock %}
